<h2>Important links</h2>
<ul>
  <!-- Weather
  <li><a href="https://weather.gc.ca/city/pages/on-82_metric_e.html">Environment Canada</a></li>
  <li><a href="https://uwaterloo.ca/emergency-planning/emergency-preparedness/shelter-place">Shelter in Place</a></li>
  <li><a href="https://uwaterloo.ca/emergency-planning/emergency-preparedness/thunderlightning-storms">Thunder/Lightning storms</a></li>
  -->
  <li><a href="https://uwaterloo.ca/emergency-planning/emergency-preparedness/violent-person-campus-know-you-can-survive">Violent Situations on Campus</a></li>
  <li><a href="http://www.wrps.on.ca/">Waterloo Regional Police Services</a></li>
  <li><a href="https://uwaterloo.ca/police/">University of Waterloo Police Services</a></li>
  <li><a href="https://uwaterloo.ca/counselling-services/">Counselling Services</a></li>
  <li><a href="https://uwaterloo.ca/renison-ministry-centre/chaplain">Chaplain</a></li>
  <li><a href="https://twitter.com/uwaterloo">University of Waterloo Twitter feed</a></li>
  <li><a href="https://www.facebook.com/university.waterloo">University of Waterloo Facebook page</a></li>
  <li><a href="https://uwaterloo.ca/health-services/">Health Services</a></li>
  <li><a href="https://uwaterloo.ca/employee-assistance-program/">Employee and Family Assistance Program (EFAP)</a></li>
</ul>
